/* ABOUT START */

.about {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 120%;
}

.about__title {
    margin-bottom: 40px;
}

.about__content {
    display: flex;
}

.about__text--wrapper {
    color: #767676;
}

.about__text {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 120%;
}

.about__text:first-child {
    margin-bottom: 40px;
}

.about__image--wrapper {
    margin-left: 100px;
}

.about__image {
    width: 240px;
    height: auto;
}


@media (max-width: 1230px) {
    .about__image {
        width: 160px;
    }

    .about__text,
    .about {
        font-size: 32px;
    }
}

@media (max-width: 660px) {
    
    .about__content {
        flex-direction: column;
    }
    
    .about__title {
        margin-bottom: 24px;
    }

    .about__image--wrapper {
        order: -1;
        margin-left: 0;
        margin-bottom: 40px;
        text-align: center;
    }

    .about,
    .about__title,
    .about__text {
        font-size: 20px;
    }
}

/* ABOUT END */
