html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    margin: 0;
    padding: 0 32px;
    font-family: Archivo, sans-serif;
    max-width: 1264px;
    margin: auto;
}

.symbol__register--superscript {
  font-size: 0.7em; /* reduce size */
  vertical-align: top; /* raise it to look like a superscript */
}

.symbol {
    font-family: 'Noto Sans Symbols 2', sans-serif;
}


@media (max-width: 768px) {

    body {
        padding: 0 24px;
    }
}

@media (max-width: 480px) {

    body {
        padding: 0 16px;
    }

}