/* TOOLTIP START */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(59, 59, 59);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 200%;
    left: 50%;
    margin-left: -60px;
    font-size: 14px;
    word-spacing: normal;
    /* Ensure proper spacing between words and emojis */
    white-space: normal;
    /* Allow normal text wrapping */
}

/* Small notch at the bottom of the tooltip */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(59, 59, 59) transparent transparent transparent;
}


/* TOOLTIP END */