/* WORK START */

.work__cover--renofi {
    position: relative;
    width: 100%;
    max-height: 600px;
    border-radius: 28px;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(to bottom, #FF6263, #7f0606);
    transition: all 0.2s ease;
}

.work__cover:hover {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5);
    scale: 1.002;
}

.work__cover--media {
    display: flex;
    justify-content: center;
    margin: 8% auto 0 auto;
    width: 80%;
    height: 100%;
    border-radius: 16px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 15px 15px 15px);
}

.work__cover--gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    /* adjust as needed */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    pointer-events: none;
}

.work__cover--text {
    position: absolute;
    bottom: 24px;
    left: 32px;
    z-index: 2;
    color: #FEFEFE;
}

.work__cover--heading {
    font-size: 14px;
    margin-bottom: 12px;
    color: #FEFEFE;
    opacity: 0.7;
}


.work__cover--title {
    font-size: 32px;
    font-weight: 700;
    margin: 4px 0;
    color: #ffffff;
}



.work__heading {
    margin-top: 120px;
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
    max-width: 900px;
}

.work__title {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 700;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.work__subtitle {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 140%;
    color: #767676;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.work__chip--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    margin-bottom: 32px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.work__chip {
    display: inline-block;
    padding: 3px 7px 3px 7px;
    outline: #dbdbdb 1px solid;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 600;
    color: #767676;
}

.work__description {

    font-size: 20px;
    line-height: 140%;
    color: #767676;
    max-width: 900px;
    margin: 0 auto;
}

.work__project--block {
    max-width: 900px;
    margin: 72px auto 0;
}

.work__project--block--image,
.work__project--block--video {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: auto 0;
    border-radius: 0.5rem;
}

.work__project--block--video {
    cursor: pointer;
}

.work__project--block--video--slideshow,
.work__project--block--image--slideshow {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: auto 0;
    border-radius: 0;
}

.work__project--block--reviews {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 900px;
}

.work__project--block--reviews--card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.work__project--block--reviews--card:hover {
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 8px;
}

.work__project--caption {
    display: block;
    max-width: 900px;
    margin: auto;
    width: 100%;
    margin-top: 16px;
    text-align: center;
    font-size: 18px;
    line-height: 140%;
    color: #767676;
}

.work__project--caption--highlight {
    color: #000000;
    font-weight: 600;
}

@media (max-width: 1230px) {
    .work__title {
        font-size: 32px;
    }


    .work__heading {
        font-size: 24px;
    }

    .work__description {
        font-size: 20px;
        line-height: 140%;
        color: #767676;
        max-width: 900px;
        margin: 0;
    }

    .work__project--caption {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    /* On smaller screens, switch to 2 columns */
    .work__project--block--reviews {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .work__cover--gradient {
        height: 50%;
    }

    .work__cover--text {
        position: absolute;
        bottom: 16px;
        left: 24px;
        z-index: 2;
        color: #FEFEFE;
    }

    .work__cover--heading {
        margin-bottom: 6px;
        font-size: 12px;
    }

    .work__cover--title {
        font-size: 28px;
    }

}

@media (max-width: 660px) {
    .work__title {
        font-size: 24px;
    }

    /* On very small screens, switch to 1 column */
    .work__project--block--reviews {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .work__heading {
        margin-top: 64px;
    }

}

@media (max-width: 480px) {}

/* WORK END */